*{
    margin: 0 auto;
    padding: 0;

}
.maincontainer{
    width: 1180px;
}
.divflex{
    display: flex;
    align-items: center;
    margin-top: 19px;
}

.bodyback{
    background: #000000;
    

}
.headerback{
    /* background: rgba(0, 0, 0, 1); */
}
.logodiv{
    margin-left: 100px;
    margin-right: 0px;
    
}
.navcont{
    display: flex;
    list-style: none;
    margin-left: 76px;
    
}
.navcont-li{
    display: flex;
    list-style: none;
    gap: 65px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;

}
.section_content{
    background-image: url(../img/background.svg);
    height: 900px;
    background-size: cover;
}
.row{
    display: flex;
}
.sec1h1{
    font-family: 'Glinster';
    font-style: normal;
    font-weight: 400;
    font-size: 120px;
    line-height: 150px;
    color: #D0B8AC;
    margin-top: 196px;
    margin-left: 90px;
    
}
.sec1p1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 47px;

}
.btn-cont{
    display: flex;
    
    align-items: center;  
}
.prbtn{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #D0B8AC;
    background-color: black;
    border: transparent;
    margin: 0px;

}
.btn-img{
margin-left: 0px;
padding-top: -10px;
padding-left: 10px;
padding-bottom: 34px;
}
.social{
    padding-top: 100px;
    margin-left: 428px;
}
.sec2container{
    width: 1180px;
    height: 220px;
    /* background: #000000; */
}
a{
    display: flex;
    margin: 0;
}
.sec2flex{
    background-color:  #000000;;
}
.div-img1{
    margin-left: 90px;
    margin-top: 150px;
    

}
.sec2p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 0px;
    background: #000000;
    width: 458px;
    margin-bottom: 30px;
}
.border{
    position: absolute;
    width: 1px;
    height: 242px;
    left: 752px;
    top: 1223px;
    background: #D0B8AC;
}
.sec2h1{
    width: 864px;
    height: 125px;
    left: 213px;
    top: 1521px;
    font-family: 'Glinster';
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 130px;
    color: #D0B8AC;
    position:;

}
.flex2image{
    height: 50px;
    margin-left: 315px;
}
.sec3container{
    width: 1180px;
    background: #000000;
    margin-top: 600px;
}
.sec3h1{
    width: 252px;
    height: 75px;
    left: 195px;
    top: 2134px;
    font-family: 'Glinster';
    font-style: normal;
    font-weight: 400;
    font-size: 75px;
    line-height: 75px;
    background: #000000;
    color: #D0B8AC;
    margin-bottom: 40px;
    margin-left: 0px;
}
.sec3div50{
    width: 40%;
    /* margin-top: 100px; */
    margin-left: 90px;
}
.space-between{
    justify-content: space-between;
}
.sec3div50-2{
    width: 60%;
}
.sec3p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 0px;
    background: #000000;
    width: 458px;
    padding-top: 110px;
}
.sec3div50img{
    width: 90%;
    margin: 0;
}
.desktop-only{
    display: block;
}
@media only screen and (max-width: 576px) {
        .maincontainer{
            width: 90%;
            margin: 0px;
            /* background-image: url(../img/background.svg); */
            /* background-size: cover; */
            /* background-repeat: no-repeat; */
        }
        .desktop-only{
            display: none;
        }
        .xs-100{
            width: 100%;
        }
        .sec1h1{
            margin-left: 10px;
            margin-top: 585px;
            font-family: 'Glinster';
            font-style: normal;
            font-weight: 400;
            font-size: 55px;
            line-height: 85px;
            color: #D0B8AC;
            
        }
        .logodiv{
            margin-left: 10px;
            margin-top: 20px;
        }
        
        /* .bodyback{ */
            /* background-image: url(../img/background.svg); */
            /* background-repeat: no-repeat; */
            /* background-size: cover; */
        .section_content{
            width: 100%;
            background-image: url(../img/background.svg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: 70%;
        }
        .prbtn{
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 23px;
            color: #D0B8AC;
            background-color: transparent;
            border: transparent;
            margin: 0px;
            margin-bottom: 30px;
        }
        .btn-cont{
            display: flex;           
            align-items: center; 
            margin-left: 110px;
        }
        .btn-img{
            padding-top: 18px;
        }
        .social{
            margin-right: 253px;
            padding-top: 100px;
            margin-left: 0px;
        }
        .divflex{
            margin: 0px;
        }
}